@model MovieApp.Entity.MovieModel
@{
    ViewData["Title"] = "DeleteMovie";
}

<h1>DeleteMovie</h1>

<form method="post">
    <div class="form-group">
        <label for="fName">ID:</label>
        <input type="text" class="form-control" id="fname" asp-for="Id" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="fName">Name:</label>
        <input type="text" class="form-control" id="fname" asp-for="Name" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="contact">Rating:</label>
        <input type="text" class="form-control" id="contact" asp-for="Rating" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="email">Genre:</label>
        <input type="text" class="form-control" id="email" asp-for="Genre" disabled="disabled">
    </div>

    <button type="submit" class="btn btn-primary">Delete</button>
    <button type="reset" class="btn btn-secondary">Reset</button>
</form>

@if (ViewBag.status == "Success")
{
    <div class="alert alert-success">@ViewBag.message</div>
}
else
{
    <div class="alert alert-danger">@ViewBag.message</div>
}
